/* Wallet Section */
.wallet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 60px 20px;
}

/* Wallet Text */
.wallet-text {
    flex: 1;
}

/* Title Styling */
.main-title {
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    max-width: 605px;
    margin-bottom: 16px;
}

/* Description */
.main-title-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFFE5;
    max-width: 567px;
}

/* Buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 16px;
}

/* Button Styling */
.btn-primary, .btn-secondary {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    height: 44px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

/* Primary Button */
.btn-primary {
    color: #253941;
    background: linear-gradient(to right, #81BDFF, #5ED9FF);
}

/* Secondary Button */
.btn-secondary {
    color: transparent;
    background: linear-gradient(to right, #81BDFF, #5ED9FF);
    background-clip: text;
    border: 1px solid #81BDFF;
}

/* Crypto Wallet Styling */
.crypto-wallet {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Wallet Image */
.wallet-img {
    position: absolute;
    z-index: 1;
}

/* Ellipses styles */
.crypto-wallet-ellipse {
    position: absolute;
    width: 236px;
    height: 229px;
    left: 140px;
    z-index: 0;
    background: rgba(89, 149, 255, 0.5);
    filter: blur(100px);
}

.crypto-wallet-ellipse-2 {
    position: absolute;
    width: 277px;
    height: 277px;
    left: 100px;
    border: 1px solid rgba(193, 214, 219, 0.1);
    background-color: transparent;
    border-radius: 50%;
    z-index: 0;
}

.crypto-wallet-ellipse-3 {
    position: absolute;
    width: 384px;
    height: 384px;
    left: 45px;
    border: 1px solid rgba(193, 214, 219, 0.1);
    background-color: transparent;
    border-radius: 50%;
    z-index: 0;
}

.crypto-wallet-ellipse-4 {
    position: absolute;
    width: 419px;
    height: 419px;
    left: 27px;
    border: 1px solid rgba(193, 214, 219, 0.1);
    background-color: transparent;
    border-radius: 50%;
    z-index: 0;
}

.crypto-wallet-ellipse-5 {
    position: absolute;
    width: 541px;
    height: 541px;
    left: -28px;
    border: 1px solid rgba(193, 214, 219, 0.15);
    background-color: transparent;
    filter: blur(8px);
    border-radius: 50%;
    z-index: 0;
}

.crypto-wallet-ellipse-6 {
    position: absolute;
    width: 770px;
    height: 770px;
    left: -139px;
    border: 1px solid rgba(193, 214, 219, 0.6);
    background-color: transparent;
    filter: blur(30px);
    border-radius: 50%;
    z-index: 0;
}

.crypto-wallet-ellipse-7 {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 108px;
    top: 140px;
    background-color: rgba(109, 205, 255, 1);
    filter: blur(3px);
    border-radius: 50%;
    z-index: 0;
}

.crypto-wallet-ellipse-8 {
    position: absolute;
    width: 4px;
    height: 4px;
    left: 393px;
    top: 75px;
    background-color: rgba(109, 205, 255, 1);
    filter: blur(1px);
    border-radius: 50%;
    z-index: 0;
}

.crypto-wallet-ellipse-9 {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 475px;
    top: 290px;
    background-color: rgba(109, 205, 255, 0.88);
    border-radius: 50%;
    filter: blur(10px);
    z-index: 0;
}

/* RESPONSIVE STYLES */
@media (max-width: 1439px) {
    .crypto-wallet {
        display: none;
    }

    .wallet {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .wallet {
        flex-direction: column;
        text-align: center;
    }

    .wallet-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-title {
        font-size: 32px;
        max-width: 65%;
    }

    .main-title-description {
        font-size: 16px;
        max-width: 65%;
    }

    .buttons {
        justify-content: center;
    }

    .crypto-wallet {
        display: none;
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 28px;
    }

    .btn-primary,
    .btn-secondary {
        text-align: center;
    }
}
